.logo{
    border-radius: 13px;
padding-left: 60px;
padding: 10px;
margin-left: 10px;
display: flex;
padding-right: 800px;
font-size: 25px;
align-items: center;
color: lightgray;
font-family: "OpenSans", sans-serif;
font-weight: bold;
}

.headline{
  background-color: #d68b56;
  width: 170%;
  height: 150px;
  margin-top: 75px;
  margin-left: 50px;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  
}

.galery{
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 435px);
  padding-top: 75px;
  margin-left: 15px;

}
.pic{
  display: flex;
  width: 100%;
  height: 100%;
  border: 25px;
  position: relative;
}
.first{
  grid-row: span 2;
}
.second{
  grid-column: span 2;
}
.fourth{
  grid-row: span 2;
}
.five{
  grid-column: span 2;
}
.six{
  grid-row: span 2;
}
.ph{
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
}

.text1{
  text-shadow: 3px 2px 5px black
  
}
.head{
  display: flex;
  position: relative;
  background-color: rgb(82,85,84);
  width: 3000px;
}

.picture{
align-items: start;
width: 450px;
padding-top: 15px;
padding-right: 5px;

}
.pic1ai{
  display: block;
  justify-content: center;
  height: 800px;
  background-color: #d68b56;
  width: 450px;
  padding-left: 15px;
}


.videosec{
  display: flex;
}
.spick{
  
  display:flex; 
  position: absolute; 
  gap: 50px; 
 padding-left: 150px;
 font-size: 20px;
align-items: center;

  
}
.vk{padding-top: 15px;}
.phone{
  align-items: center;
  padding-top: 35px;
}

ul{
  list-style: none;
}
.contact{
display: inline;
color: black;
font-size: 15px;

top: 60px;
right: 160px;
 padding-right: 500px;
 align-items: center; 
  justify-content: end; 
 
}

*{margin: 0;
padding: 0;}
body{font-family:"OpenSans", sans-serif ;
  background-color: rgb(155, 156, 157)}

.aboutUs {
    background-color: #758488;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    border: 2px solid rgba(57, 59, 59, 0.801);
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }
  
.ButtonsHead{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    position: absolute;
    padding-left: 500px;
     
    
}
  .info {
    position: relative;
    display: inline-block;
  }
  
  /* Выпадающее содержимое */
  .links {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Ссылки внутри выпадающего списка */
  .links a {
    color: rgb(80, 80, 80);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .links a:hover {background-color: #ddd;}
  
  /* Показать выпадающее меню при наведении курсора */
  .info:hover .links{display: block;}
  
  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .info:hover .aboutUs {background-color: #d68b56;}

  .Splavs{background-color: #758488;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
display: flex;
border: 2px solid rgba(57, 59, 59, 0.801);}

.links2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

.links2 a {
    color: rgb(80, 80, 80);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}

    .links2 a:hover {background-color: #ddd;}

    .Splavi{
        position: relative;
    display: inline-block;
    }

    .Splavi:hover .links2{display: block;}

    .Splavi:hover .Splavs {background-color: #d68b56;}

    .shedule{
      position: relative;
    display: inline-block;
   
    
    }
    .raspisanie{
      background-color: #758488;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      display: flex;
      border: 2px solid rgba(57, 59, 59, 0.801);
      border-top-right-radius: 13px;
      border-bottom-right-radius: 13px;
    }
    .shedule:hover .raspisanie{
      background-color: #d68b56;
    }

    .review{
      display: flex;
      justify-content: end;
    }

    .ai{
      height: 10  00px;
      width: 100%;
      background-color: #d68b56;  
      display: flex;
     
      
    }
    .text{
position: absolute;
top: 350px;
font-size: 28px;
padding-left: 30px;
color: white;
text-shadow: 1px 1px 2px black, ;

}
@media screen and(max-width: 1245px;)
{
 .header{} 

} 
@media screen and(max-width: 430px){
  .videosec{display: block;}
}

.video{position: relative;}
.video ::after{
  position: absolute;
  background: rgb(rgba(32, 25, 25, 0.678), rgb(56, 58, 56), rgb(28, 28, 29));
}